<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyggeProjekt"
        tools:targetApi="31">
        <activity
            android:name=".RelaxOnSofaActivity"
            android:exported="false" />
        <activity
            android:name=".LightingActivity"
            android:exported="false" />
        <activity
            android:name=".HomeCareBathtubActivity"
            android:exported="false" />
        <activity
            android:name=".FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ComfortableClothesSocksActivity"
            android:exported="false" />
        <activity
            android:name=".ZooActivity"
            android:exported="false" />
        <activity
            android:name=".AmalienborgActivity"
            android:exported="false" />
        <activity
            android:name=".CafeActivity"
            android:exported="false" />
        <activity
            android:name=".NatureActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".HotDrinksActivity"
            android:exported="false" />
        <activity
            android:name=".TivoliActivity"
            android:exported="false" />
        <activity
            android:name=".HyggeAtHomeActivities"
            android:exported="false" />
        <activity
            android:name=".HyggeActivitiesInCopenhagen"
            android:exported="false" />
        <activity
            android:name=".HyggeInformation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>